/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: auto;
}

/* Hide all slides by default */
.slide {
    display: none;
}

/* Show active slide */
.slide.active {
    display: block;
}

/* Navigation arrows */
.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

/* Position the right arrow */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}